@charset "UTF-8";

/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
*/ 

/* Basic */
* {
	margin: 0em;
	padding: 0em;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

body {
	font-family: "trebuchet ms", sans-serif;
	font-size: 10pt;
	background-color: #000;
	color: #6F5129;
}

a {
	color: #667700;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* Outer */
#outer {
	margin: 2em auto;
}

/* Header */
#header {
	padding: 1.75em;
	text-align: center;
	text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33,
		-2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
}

#header h1 {
	font-size: 2em;
}

#header h2 {
	font-size: 1em;
	color: #747474;
}

#header h1 a {
	color: #fff;
	text-decoration: none;
}

/* Menu */
#menu {
	background: #fff;
}

/* Content */
#content {
	background: #fff;
	margin: 0% 10%;
}

#content p {
	margin-bottom: 2em;
	line-height: 1.5em;
}

#content h2,h3,h4,h5,h6 {
	position: relative;
	color: #3F2109;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #DFBF99;
}

#content h2 {
	font-size: 1.5em;
}

#content h3 {
	font-size: 1.1em;
	text-align: center;
}

#content ul {
	margin-bottom: 2em;
	padding-left: 1em;
}

#content table td { /* padding: 0.5em; */
	padding: 0px 0.25em;
}

/* Primary Content */
#primaryContentContainer {
	position: relative;
	z-index: 2;
	float: right;
	margin-left: -18em;
	width: 100%;
}

#primaryContent {
	margin: 2em 3.0em 0em 19em;
	padding: 0em 0em 0em 1.5em;
	border-left: solid 1px #DFBF99;
}

/* Secondary Content */
#secondaryContent {
	position: relative;
	z-index: 2;
	float: right;
	width: 15em;
	margin-top: 2em;
}

/* Footer */
#footer {
	height: 56px;
	padding-top: 30px;
	background: #fff;
	text-align: center;
	margin: 0% 10%;
}

.clear {
	clear: both;
}


/* Own modifications */
#favouriteList li {
	margin-bottom: 5px;
}

#favouriteDiv {
	width: 47%; 
	float: left;
}

#movieDiv {
	width: 47%; 
	float: left; 
	border-left: 1px solid #dfbf99; 
	padding: 0 0 0 1.5em; 
	margin-left: 1.5em;
}
