@charset "UTF-8";

/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
*/ 

/* Basic */
* {
	margin: 0em;
	padding: 0em;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

body {
	font-family: "trebuchet ms", sans-serif;
	font-size: 10pt;
	background-color: #000;
	color: #6F5129;
}

a {
	color: #667700;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* Outer */
#outer {
	margin: 2em auto;
}

/* Header */
#header {
	padding: 1.75em;
	text-align: center;
	text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33,
		-2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
}

#header h1 {
	font-size: 2em;
}

#header h2 {
	font-size: 1em;
	color: #747474;
}

#header h1 a {
	color: #fff;
	text-decoration: none;
}

/* Content */
#content {
	background: #fff;
	margin: 0% 1%;
}

#content p {
	margin-bottom: 2em;
	line-height: 1.5em;
}

#content h2,h3,h4,h5,h6 {
	position: relative;
	color: #3F2109;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #DFBF99;
}

#content h2 {
	font-size: 1.5em;
}

#content h3 {
	font-size: 1.1em;
	text-align: center;
}

#content ul {
	margin-bottom: 2em;
	padding-left: 1em;
}

#programs table {
/* 	width: 100%; */
	table-layout:fixed;
}

#programs table th {
	min-width: 350px;
	max-width: 350px;
}

div.desc {
	padding-left: 3em;
}

div.time {
	width: 40px;
	float: left;
}

div.name {
	width: 300px;
	float: left;
}

div.name a {
	color: black;
}

div.favourite a {
	color: green;
}

div.favourite {
	color: green;
}

#content table td {
	padding: 0px 0.25em;
}

/* Primary Content */
#primaryContentContainer {
	position: relative;
	z-index: 2;
	float: left;
	margin-left: -18em;
	width: 100%;
}

#primaryContent {
	margin: 2em 0em 0em 18em;
	padding: 0em 0em 0em 1.5em;
}

/* Secondary Content */
#secondaryContent {
	border-left: solid 1px #DFBF99;
	position: relative;
	z-index: 2;
	float: right;
	width: 15em;
	margin-top: 2em;
	padding-left: 2em;
}

/* Footer */
#footer {
	height: 56px;
	padding-top: 30px;
	background: #fff;
	text-align: center;
	margin: 0% 1%;
}

.clear {
	clear: both;
}

#programs {
	overflow: auto;
	color: black;
/* 	max-height: 750px; */
}

#programs table, th, td {
	border: 1px solid black;
}

div.ui-datepicker-inline {
	font-size: 0.8em; /* Without this the datepicker looks huge! */
}

.checkboxes input
{
    height: 32px;
}

.stripe1 {
	background-color: #ff6;
}

.stripe2 {
	background-color: #fff;
}

.highlight {
	background-color: #fc0;
	font-weight: bold;
}

.program {
	padding: 0px 2px;
	margin: 0px -2px;
}